@model List<Agent>
@{
    ViewData["Title"] = "Agents";
}

<h1>Agents</h1>

@if(Model != null)
{
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>About</th>
            <th>Phone</th>
        </tr>
        @foreach (var agent in Model)
        {
            if (agent != null)
            {
                <tr>
                    <td>@agent.FirstName</td>
                    <td>@agent.LastName</td>
                    <td>@agent.About</td>
                    <td>@agent.Phone</td>
                    <td>
                        <a asp-controller="Agent" asp-action="Detail" asp-route-AgentId="@agent.AgentId">Detail</a>
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>@ViewBag.Message</p>
}